/* .secondaryImg {
    margin-top: 20px;
    height: 300px;
    width: 350px;
    margin-bottom: 50px;
}

@media all and (max-width: 500px) {
    .secondaryImg {
        height: 220px;
        width: 300px;
    }
}
@media all and (min-width: 900px) {
    .secondaryImg {
        height: 500px;
        width: 600px;
    }
} */

/* #root {
    background-color: black;
} */

header {
    background-color: black;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 20px;
    height: 310px;
    width: 800px;
}

@media all and (max-width:550px) {
    .logo {
        height: 137px;
        width: 100%;
    }
}


.whatIsTC-container {
    background-color: #000000;
}

.whatIsTC-title {
    display: flex;
    justify-content: flex-start;
    padding: 50px;
    padding-left: 130px;
    padding-top: 500px;
    margin-bottom: 20px;
}

@media all and (max-width: 700px) {
    .whatIsTC-title {
        justify-content: center;
        padding-left: 50px;
    }
}

.whatIsTC-title-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 60px;
    border-bottom: 4px solid rgb(1, 179, 1);
}

@media all and (max-width: 700px) {
    .whatIsTC-title-text {
        font-size: 50px;
    }
}

.whatIsTC-P {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-right: 220px;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 200;
    font-size: 30px;
    width: 700px;
    height: relative;
    border-radius: 40px 7px 40px 7px;
    color: white;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 120px;
}


@media all and (max-width: 700px) {
    .whatIsTC-P {
        font-size: 20px;
        padding: 20px;
        width: 400px;
        border-radius: 5px;
        width: 100%;
        border-radius: 0px;
        margin: 0px;
    }
}

.milestone-container {
    background-color: #000000;
}

.milestone-title {
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    padding-right: 250px;
    margin-bottom: 20px;
}

@media all and (max-width: 700px) {
    .milestone-title {
        padding-right: 125px;
    }
}

.milestone-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 60px;
    border-bottom: 4px solid rgb(1, 179, 1);
}

@media all and (max-width: 700px) {
    .milestone-text {
        font-size: 50px;
    }
}

.milestone-P {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 550px;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 200;
    font-size: 30px;
    width: 500px;
    height: relative;
    border-radius: 7px 40px 7px 40px;
    color: white;
    flex-wrap: wrap;
    margin: auto;
    margin-right: 150px;
}

@media all and (max-width: 700px) {
    .milestone-P {
        font-size: 20px;
        padding: 20px;
        width: 400px;
        border-radius: 5px;
        width: 100%;
        border-radius: 0px;
    }
}


.charger-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 550px;
}

@media all and (max-width: 700px) {
    .charger-title {
        display: none;
    }
}

.charger-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 60px;
    border-bottom: 4px solid rgb(1, 179, 1);
}

.chargerContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 550px;
}

.chargerFront {
    margin-top: 40px;
    height: 900px;
}

.chargerBack {
    margin-top: 40px;
    height: 900px;
}

@media all and (max-width: 700px) {
    .chargerFront, .chargerBack {
        height: 400px;
        margin-bottom: 20px;
    }
}

.chargers-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 20px;
}

.chargers-p {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 60px;
    border-bottom: 4px solid rgb(1, 179, 1);
    flex-wrap: wrap;
}

@media all and (max-width: 700px) {
    .chargers-container {
        font-size: 20px;
        padding: 20px;
        border-radius: 0px;
        margin: 0px;
        margin-top: 30px;
    }
}

@media all and (max-width: 700px) {
    .chargers-p {
        font-size: 20px;
        padding: 20px;
        border-radius: 0px;
        margin: 0px;
        margin-top: 30px;
    }
}

.batteryContainer {
    background-color: #000000;
    padding: 30px;
    padding-top: 400px;
    padding-bottom: 500px;
}

.battery {
    width: 136.5px;
    height: 240px;
    border: 6px solid rgb(255, 255, 255);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.top {
    width: 50px;
    height: 23px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 37px;
    bottom: 25px;
}

.charge1,.charge2,.charge3 {
    margin-top: 1.5px;
    height: 78px;
    width: 114px;
    background-color: rgb(6, 227, 6);
    position: relative;
    opacity: 0;
    left: 5.24px;
}

.charge1 {
    top: 121px;
    animation: charge-1 3s infinite;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

@keyframes charge-1 {
    25%,100% {
        opacity: 1;
    }
}

.charge2 {
    bottom: 28px;
    animation: charge-2 3s infinite;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

@keyframes charge-2 {
    0%,25%{
        opacity: 0;
    }
    50%,100%{
        opacity: 1;
    }
}

.charge3 {
    bottom: 178px;
    animation: charge-3 3s infinite;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

}

@keyframes charge-3 {
    0%,50%{
        opacity: 0;
    }
    75%,100% {
        opacity: 1;
    }
}

.sloganContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.sloganTitle {
    font-size: 50px;
    font-weight: bold;
}

.sloganText {
    margin-top: 20px;
    font-size: 20px;
    border-bottom: solid rgb(1, 179, 1);
}