/* SOCIAL MEDIA CSS CODE ATTACHED UNDERNEATH */


.headerMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 40px;
    border: 0px;
}

.MediaTitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 0px;
    border-bottom: solid rgb(1, 179, 1);
}

.articleContainer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
    flex-wrap: wrap;
}


@media all and (min-width: 650px) {  
    .articleContainer {
        margin-top: 10px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 50px;
    }
}

@media all and (max-width:500px) {
    .articleContainer{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.NYarticleImg {
width: 100%;
}

.banner {
width: 100%;
 background-color: rgb(0, 0, 0);
 border-radius: 0px 0px 20px 20px;
 padding: 20px;
}

.clickable {
    color: rgb(255, 255, 255);;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding-bottom: 70px;
}

.breakLines {
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: 3px solid rgb(0, 0, 0);
    
}

.carouselContainer {
    padding-top: 70px;
    padding-bottom: 10px;
}

@media all and (max-width:900px) {
    .carouselContainer {
        margin-bottom: 20px;
    }
}

@media all and (min-width: 650px) {  
    .carouselContainer {
        margin-top: 10px;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 50px;
    }
}

@media all and (max-width:500px) {
    .carouselContainer{
        margin-left: 10px;
        margin-right: 10px;
    }
}


.youtubeContainer {
    padding-top: 100px;


    @media all and (max-width:900px) {
        .youtubeContainer {
            margin-bottom: 150px;
        }
    }
    
    @media all and (min-width: 700px) {  
        .youtubeContainer {
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}

.video-responsive {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
}

@media all and (max-width:700px) {
    .video-responsive {
        padding-bottom: 100%;
        margin-bottom: 60px;
    }
}

  .video-responsive iframe {
    border-radius: 15px;
    height: 95%;
    width: 83%;
    position: absolute;
}

@media all and (max-width:500px) {
    .video-responsive iframe{
        height: 90%;
        width: 95%;
    }
}

/* 

.headerContact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-bottom: 40px;
    border: 0px;
}

.socialMediaContainer {
  height: 600px;
}

.contactTitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 0px;
    border-bottom: solid rgb(1, 179, 1);
}

.socialMedia-title {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-left: 0px;
}

@media all and (max-width: 700px) {
    .socialMedia-title {
        padding: 50px;
    }
}

.socialMedia-text {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 60px;
    border-bottom: 4px solid rgb(1, 179, 1);
}

@media all and (max-width: 700px) {
    .socialMedia-text {
        font-size: 40px;
    }
}

.socialMediaContainer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    flex-direction: row;
    align-items: center;
}

@media all and (max-width: 700px) {
    .socialMediaContainer {
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;
    }
}

.fa {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    margin: 8px 2px;
    border-radius: 5px;
    margin: 10px;
    font-size: 30px !important;
  }
  
  .fa:hover {
      color: white;
      transition-duration: .4s;
      padding: 30px;
      font-size: 40px !important;
  }

  @media all and (max-width: 700px) {
    .fa {
        padding: 20px;
        width: 100px;
    }
}
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
   */
