.headerMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 40px;
    border: 0px;
}

.MediaTitle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: 0px;
    border-bottom: solid rgb(1, 179, 1);
}

.carouselContainer {
    padding-top: 70px;
    padding-bottom: 10px;
}

@media all and (max-width:900px) {
    .carouselContainer {
        margin-bottom: 20px;
    }
}

@media all and (min-width: 650px) {  
    .carouselContainer {
        margin-top: 10px;
        margin-left: 120px;
        margin-right: 180px;
        margin-bottom: 50px;
    }
}

@media all and (max-width:500px) {
    .carouselContainer{
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }
}


.youtubeContainer {
    padding-top: 100px;


    @media all and (max-width:900px) {
        .youtubeContainer {
            margin-bottom: 150px;
        }
    }
    
    @media all and (min-width: 700px) {  
        .youtubeContainer {
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}

.video-responsive {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
}

@media all and (max-width:700px) {
    .video-responsive {
        padding-bottom: 100%;
        margin-bottom: 60px;
    }
}

  .video-responsive iframe {
    border-radius: 15px;
    height: 60%;
    width: 60%;
    position: absolute;
}

@media all and (max-width:500px) {
    .video-responsive iframe{
        height: 80%;
        width: 80%;
    }
}