.navbarDisplay {
    display: flex;
    justify-content: center;
}

.links a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(188, 177, 177);
}